@inherits LayoutComponentBase
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NavMenu> Localizer

<PageTitle>patent</PageTitle>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        @if (left is not null)
        {
            <img src="@left" width="30%" />
        }
        @if (right is not null)
        {
            <img src="@right" width="7%" />
        }
    </div>
</nav>
<nav class="navbar bg-body-tertiary shadow-sm">
    <div class="container-fluid">
        <div class="navbar-brand">@Localizer["visitors"] : <span style="color:red">75</span></div>
        <form class="d-flex" role="search">
            <div class="p-3 fw-bolder fs-5 text-success">@Localizer["welcome"]</div>
            <NavLink href="/"><button class="btn btn-lg btn-success m-2" type="">@Localizer["home"]</button></NavLink>
            <NavLink href="/login"> <button class="btn btn-lg btn-success m-2" type="">@Localizer["sign"]</button></NavLink>

        </form>
    </div>
</nav>


<div class="page">


    <div style="background-image:none;background-color:#166534;" class="sidebar">
        <NavMenu />
    </div>

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
    <div class="" style="background-image:none;background-color:#F5F5F5;">
        <SideBarLang />
    </div>
</div>
@code {
    private string? left = "NewFolder/head.png", right = "NewFolder/logo.png";
}