@using Microsoft.AspNetCore.Components;
@using Microsoft.Extensions.Localization
@using System.Globalization
@inject NavigationManager NavigationManager

@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="@("./head.png")" alt="My Image" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@

<div class="p-2" @onclick="ToggleNavMenu">
    <table class="table">
        @foreach (var language in languages)
        {
            @if (language.Text == selected)
            {
                <tr class="">
                    <td style="cursor:pointer" class="px-3 py-2 bg-dark text-white border-bottom border-secondary" @onclick="@(() => OnChangeLanguage(language.Val, language.Text))">@language.Text</td>
                </tr>
            }
            else
            {
                <tr class="">
                    <td style="cursor:pointer" class="px-3 py-2 border-bottom border-secondary" @onclick="@(() => OnChangeLanguage(language.Val, language.Text))">@language.Text</td>
                </tr>
            }
        }
    </table>
</div>

@code {
    private bool collapseNavMenu = true;
    public string selected { get; set; }

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private Language[] languages = new Language[] {
        new Language { Val = "en", Text = "English" },
        new Language { Val = "hi", Text = "हिन्दी" },
        new Language { Val = "as", Text = "অসমীয়া" },
        new Language { Val = "bn", Text = "বাংলা" },
        new Language { Val = "gu", Text = "ગુજરાતી" },
        new Language { Val = "kn", Text = "ಕನ್ನಡ" },
        new Language { Val = "ml", Text = "മലയാളം" },
        new Language { Val = "mr", Text = "मराठी" },
        new Language { Val = "or", Text = "Odia" },
        new Language { Val = "ta", Text = "தமிழ்" },
        new Language { Val = "pa", Text = "ਪੰਜਾਬੀ" },
        new Language { Val = "nl", Text = "Español" },
        new Language { Val = "de", Text = "German" },
        new Language { Val = "fr", Text = "Française" }
    };

    public class Language
    {
        public string Val { get; set; }
        public string Text { get; set; }
    }

    private void OnChangeLanguage(String val, String text)
    {
        var uri = new Uri(NavigationManager.Uri).GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);
        var culture = CultureInfo.GetCultureInfo(val);
        var cultureEscaped = Uri.EscapeDataString(culture.Name);
        Console.WriteLine(cultureEscaped);
        var uriEscaped = Uri.EscapeDataString(uri);
        NavigationManager.NavigateTo($"Culture/Set?culture={cultureEscaped}&redirectUri={uriEscaped}", forceLoad: true);

    }

}
